<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="title">脚本执行</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style type="text/css">
        body{
            background: #F2F2F2;
        }
        .card{
            width: 90%;
            margin: 0 auto;
            min-height: 200px;
            margin-bottom: 10px;
        }
        .mb10{
            margin-bottom: 10px!important;
        }
        .header{
            font-size: 18px!important;
            border-bottom: 1px solid #e6e6e6!important;
        }
        .fz16{
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="layui-card card">
    <div class="layui-card-header header" >脚本输入</div>
    <div class="layui-card-body">
        <div class="mb10">
            <textarea id="shell" placeholder="请输入内容" class="layui-textarea" style="border-radius: 4px;"></textarea>
        </div>
        <div style="width: 100%;text-align: right">
            <button id="comfirBtn" type="button" class="layui-btn layui-btn-normal">
                执行
            </button>
        </div>
    </div>
</div>
<div class="layui-card card" style="min-height: 100px;">
    <div class="layui-card-header header">执行结果</div>
    <div class="layui-card-body">
        <div class="mb10"><span id="runId" class="fz16"></span ></div>
        <div class="mb10"><span id="code" class="fz16"></span ></div>
        <div class="mb10"><span id="msg" class="fz16"></span></div>
    </div>
</div>
<div class="layui-card card">
    <div class="layui-card-header header" >日志
        <button id="logBtn" type="button" class="layui-btn layui-btn-normal">
            刷新
        </button>
    </div>

    <div class="layui-card-body">
        <pre id="content" ></pre>
    </div>
</div>
<!-- 你的HTML代码 -->

<script src="../layui/layui.js"></script>
<script src="../js/jquery-3.4.1.min.js"></script>
<script>
    //一般直接写在一个js文件中
    $(document).ready(function () {
        layui.use(['layer', 'form']);
        let runId = "";
        $("#shell").val(null);
        $("#msg").text("暂无信息");
        function runScript(){
            let shell = $("#shell").val();
            if (!shell){
                layer.msg('请输入脚本');
                return;
            }
            $("#content").text("脚本执行中......");
            let ajax = $.ajax({
                async: true,
                crossDomain: true,
                headers: {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache",
                },
                type: "post", //提交方式
                url: `/shell`,//路径
                timeout:"20000",
                data: shell,
                success: function (result) {//返回数据根据结果进行相应的处理
                    if (result.code == 0 &&　result.data.runId) {
                        var scriptResult = result.data;
                        if (scriptResult.code == 2147483647) {
                            //脚本执行时间超过设定超时时间，状态未明
                            layer.msg('未结束：脚本执行时间超过设定超时时间，状态未明，请刷新日志');
                        } else {
                            layer.msg('执行结束');
                        }
                        $("#runId").text(`RunId：${scriptResult.runId}`);
                        $("#code").text(`返回码：${scriptResult.code}`);
                        $("#msg").text(`备注：${scriptResult.msg}`);
                        runId = result.data.runId;
                        getLog(result.data.runId)
                    } else{
                        layer.msg(result.msg);
                        $("#content").text(result.data);
                    }
                },
                complete:function (xmlHttpRequest,status) {
                    if (status==='timeout') {
                        ajax.abort();
                        $("#content").text("脚本执行超时！");
                    }
                }
            });
        }
        function getLog(runId){
            $.ajax({
                type: "post", //提交方式
                url: `/shellLog/${runId}`,//路径
                data: {},
                success: function (result) {//返回数据根据结果进行相应的处理
                    if (result.code == 0) {
                        //layer.msg(result.msg);
                        $("#content").text(result.data);
                    } else {
                        layer.msg(result.msg);
                        //$("#msg").text("暂无信息");
                    }
                }
            });
        }
        $("#shell").keydown(function (e) {
            let curKey = e.which;
            if (curKey == 13){
                runScript();
            }
        })
        $("#comfirBtn").click(function () {
            runScript();
        });
        $("#logBtn").click(function () {
            if(runId != "") {
                getLog(runId);
            }
        });
    })





</script>
</body>
</html>